h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #333536;
}
p{
	font-size: 16px !important;
	color: #333536;
}
.pricing-top{
	border-top: 8px solid #cf3c48 !important;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
/****************
	Titulo
*****************/
.page-title{
	padding-bottom: 30px;
	padding-top: 30px;
}
/****************
	MENU
*****************/
.mega-menu > section.menu-list-items .menu-bar > ul li a{
	text-transform: uppercase !important;
}
/****************
	FOTER
*****************/
.footer.footer-topbar img#logo-footer{
	height: 100px;
}
.footer a{
	font-size: inherit;
	font-weight: 600;
}
.footer p{
	font-size: 14px !important;
}
/****************
	BG E COLOR
*****************/
.bg-red{
	background: #cf3c48;
}
.bg-cinza1{
	background: #333536;
}
.bg-cinza2{
	background: #d1d2d3;
}
/****************
	ACCORDION
*****************/
.accordion.animated .acd-group .acd-des{
	padding: 0 30px 0px;
}
/****************
	BOTAO
*****************/
a.inscrever{
	background: #cf3c48 !important;
	color: #fff !important;
	border-radius: 30px;
	padding: 5px 10px !important;
}
/****************
	FONTES e COLORS
*****************/
.ft-35{
	font-size: 3.5rem;
}
.ft-25{
	font-size: 2.5rem;
}
.fc-1{
	color: #cf3c48;
}
/****************
	FORMULÁRIO FALE CONOSCO
*****************/
.form-control{
	background: #f1f1f1;
}
/****************
	RESETS
*****************/
.icon-40{
	font-size: 40px;
}
.play-video a{
	color: #fff;
}
.skill-counter{
	z-index: 0;
}
select.form-control:not([size]):not([multiple]){
	height: auto;
}
.section-title.line .title:before{
	width: 100%;
}
.header.light .mega-menu.desktopTopFixed .menu-list-items{
	height: auto !important;
}
	/* setas de navegaçao do slide */
	.nav-dir-horizontal,
	.tp-rightarrow.tparrows.gyges,
	.tp-leftarrow.tparrows.gyges{
		display: none;
	}
	/* setas de navegaçao do slide */
/****************
	RESPONSIVO
*****************/
@media (max-width: 1199.98px) {
    #VideoWorker-0{
    	height: 85% !important;
    }
    .txt-1{
    	font-weight: 100 !important;
		margin-top: 2.5rem !important;
		font-size: 4rem !important;
		line-height: 3rem !important;
	}
	.txt-2{
		margin-top: 4.5rem !important;
		font-size: 3rem !important;
		line-height: 2.7rem !important;
	}
	.txt-3{
		margin-top: 8.5rem !important;
		font-size: 1.5rem !important;
		line-height: 1.5rem !important;
	}
}
@media (max-width: 991.98px) {
	.mega-menu .menu-logo img{
		height: 50px;
	}
	.mega-menu{
		min-height: 80px;
	}
	#VideoWorker-0{
    	height: 75% !important;
    }
    #section-video{
    	height: 370px;
    }
    .txt-1{
		margin-top: 0rem !important;
    	font-weight: 100 !important;
		font-size: 3rem !important;
		line-height: 3rem !important;
	}
	.txt-2{
		margin-top: 1.5rem !important;
		font-size: 2rem !important;
		line-height: 2rem !important;
	}
	.txt-3{
		margin-top: 4rem !important;
		font-size: 1rem !important;
		line-height: 1rem !important;
	}
}
@media (max-width: 767.98px) {
	.videoSlide{
		display: none;
	}
	#VideoWorker-0{
    	height: 75% !important;
    }
    #section-video{
    	height: auto;
    }
    .txt-1{
		font-size: 2.5rem !important;
		line-height: 2.5rem !important;
	}
	.txt-2{
		margin-top: 1.3rem !important;
		font-size: 1.5rem !important;
		line-height: 1.5rem !important;
	}
	.txt-3{
		margin-top: 3.3rem !important;
		font-size: .8rem !important;
		line-height: .9rem !important;
	}
}
@media (max-width: 575.98px) {
	.txt-1{
		font-size: 1.5rem !important;
		line-height: 1.5rem !important;
	}
	.txt-2{
		margin-top: 0.7rem !important;
		font-size: 1rem !important;
		line-height: 1rem !important;
	}
	.txt-3{
		margin-top: 2.3rem !important;
		font-size: .7rem !important;
		line-height: .8rem !important;
	}
	.accordion.animated .acd-group .acd-des{
		padding: 0 10px 0px;
	}
}
/****************
	RESPONSIVO ESPECIFICO
*****************/
@media (min-width: 575.98px){
	.section-title.line .title:before{
		width: 13%;
	}
}
@media (min-width: 767.98px) {
	#liSlide .tp-bgimg.defaultimg {
        display: none;
    }
    .videoSlide{
        display: block;
    }
    #rev_slider_275_1_forcefullwidth{
        position: absolute !important;
        left: 0;
        top: 0;
    }
}
@media (min-width: 991.98px) {
	#header .mega-menu .menu-logo img{
		height: 70px; 	
	}
	.header.light .mega-menu{
		min-height: 120px;
	}
	.mega-menu > section.menu-list-items > .container, 
	.mega-menu > section.menu-list-items > .container > .row, 
	.mega-menu > section.menu-list-items > .container > .row > div {
		height: auto;
	}
    #rev_slider_275_1_forcefullwidth{
    	top: -5% !important;
    }
    #section-video{
    	height: 500px;
    }
}
@media (min-width: 1200px){
    #rev_slider_275_1_forcefullwidth{
    	top: 0% !important;
    }
    #section-video{
    	height: 600px;
    }
    .txt-1{
    	font-weight: 100 !important;
		margin-top: 2.5rem !important;
		font-size: 4rem !important;
		line-height: 3rem !important;
	}
	.txt-2{
		margin-top: 4rem !important;
		font-size: 3rem !important;
		line-height: 2.7rem !important;
	}
	.txt-3{
		margin-top: 8.5rem !important;
		font-size: 1.5rem !important;
		line-height: 1.5rem !important;
	}
}
@media (min-width: 1400px){
    #rev_slider_275_1_forcefullwidth{
    	top: -20% !important;
    }
}